<!DOCTYPE html>
<html>

<head>
    <title>Video to Textual Insights</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/css/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/carbon-components/css/carbon-components.min.css">
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>
    <nav class="bx--header">
        <a class="bx--header__name" href="javascript:void(0)" title="">
            <span class="bx--header__name--prefix">
                IBM
                &nbsp;
            </span> Code Pattern
        </a>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="bx--grid">
        <div class="bx--row">
            <div class="bx--col-md-2">
                <div class="outside">
                    <div class="inside">
                        <h2>Extract Textual Insights from Video</h2>
                        <br>
                        <br>
                        <h4>Upload video file</h4>
                        <div class="bx--form-item">
                            <p class="bx--label-description">Max. 500 MB file size.</p>

                            <form enctype="multipart/form-data">
                                <div class="bx--file" data-file data-file-demo-state-manager>
                                    <label for="file-uploader" class="bx--file-browse-btn" role="button" tabindex="0">
                                        <div data-file-drop-container class="bx--file__drop-container"> Drag and
                                            drop
                                            files
                                            here or click here to upload
                                            <input type="file" class="bx--file-input" id="file-uploader" name="video"
                                                accept="video/*" data-file-uploader data-target="[data-file-container]"
                                                multiple />
                                        </div>
                                    </label>
                                    <div data-file-container id="myFiles" name="myFiles" class="bx--file-container">

                                    </div>
                                    <br>
                                    <h4>Select Language and Accoustic Speech To Text Models
                                    </h4>

                                    <br>
                                    <div class="bx--form-item" id="gotLangModel">
                                        <div class="bx--select">
                                            <div class="bx--select-input__wrapper">
                                                <select id="select-id1" class="bx--select-input">

                                                </select>
                                                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                                                    <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="getLangModel">
                                        <div class="bx--file__selected-file">
                                            <p class="bx--file-filename">Getting Language STT Model ...</p>
                                            <span data-for="prepopulated-file-uploader" class="bx--file__state-container">
                                                <div class="bx--inline-loading__animation">
                                                    <div data-inline-loading-spinner=""
                                                        class="bx--loading bx--loading--small">
                                                        <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
                                                            <circle class="bx--loading__background" cx="0" cy="0"
                                                                r="26.8125">
                                                            </circle>
                                                            <circle class="bx--loading__stroke" cx="0" cy="0"
                                                                r="26.8125">
                                                            </circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="bx--form-item" id="gotAcoModel">
                                        <div class="bx--select">
                                            <div class="bx--select-input__wrapper">
                                                <select id="select-id2" class="bx--select-input">


                                                </select>
                                                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--select__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                                                    <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="getAcoModel">
                                        <div class="bx--file__selected-file">
                                            <p class="bx--file-filename">Getting Acoustic STT Model ...</p>
                                            <span data-for="prepopulated-file-uploader" class="bx--file__state-container">
                                                <div class="bx--inline-loading__animation">
                                                    <div data-inline-loading-spinner=""
                                                        class="bx--loading bx--loading--small">
                                                        <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
                                                            <circle class="bx--loading__background" cx="0" cy="0"
                                                                r="26.8125">
                                                            </circle>
                                                            <circle class="bx--loading__stroke" cx="0" cy="0"
                                                                r="26.8125">
                                                            </circle>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <br>
                                    <h4>Select options for Natural Language Understanding
                                    </h4>

                                    <br>
                                    <fieldset class="bx--fieldset">
                                        <legend class="bx--label">Extract the following from the text: </legend>
                                        <!-- input + label -->
                                        <div class="bx--form-item bx--checkbox-wrapper">
                                            <input id="category" class="bx--checkbox" type="checkbox" value="True" name="category" checked>
                                            <label for="category" class="bx--checkbox-label">Category</label>
                                        </div>
                                        <!-- input + label -->
                                        <div class="bx--form-item bx--checkbox-wrapper">
                                            <input id="concepts" class="bx--checkbox" type="checkbox" value="True" name="concepts" checked>
                                            <label for="concepts" class="bx--checkbox-label">Concept Tags</label>
                                        </div>
                                        <!-- input + label -->
                                        <div class="bx--form-item bx--checkbox-wrapper">
                                            <input id="entity" class="bx--checkbox" type="checkbox" value="True" name="entity" checked>
                                            <label for="entity" class="bx--checkbox-label">Entity</label>
                                        </div>
                                        <!-- input + label -->
                                        <div class="bx--form-item bx--checkbox-wrapper">
                                            <input id="keywords" class="bx--checkbox" type="checkbox" value="True" name="sentiments" checked disabled>
                                            <label for="keywords" class="bx--checkbox-label">Keywords,
                                                Sentiments and Emotions</label>
                                        </div>
                                        <!-- input + label checked disabled -->
                                        <div class="bx--form-item bx--checkbox-wrapper">
                                            <input id="topfive" class="bx--checkbox" type="checkbox" value="True" name="positiveSentences" checked disabled>
                                            <label for="topfive" class="bx--checkbox-label">Top 5
                                                Positive Sentences</label>
                                        </div>

                                    </fieldset>

                                    <div class="bx--btn-set">
                                        <div>
                                            <button class="bx--btn bx--btn--primary" id="Upload" name="Upload" value="Upload" type="button">Submit
                                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                    style="will-change: transform;" xmlns="http://www.w3.org/2000/svg"
                                                    class="bx--btn__icon" width="16" height="16" viewBox="0 0 32 32"
                                                    aria-hidden="true">
                                                    <path d="M5 6.6l1.2 1.1L11 3v13h2V3l4.8 4.7L19 6.6 12 0z">
                                                    </path>
                                                    <path d="M22 14v6H2v-6H0v10H24V14z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div id="uploaded2">
                                            <div class="bx--file__selected-file">
                                                <p class="bx--file-filename">Processed Successfully!</p>
                                                <span data-for="prepopulated-file-uploader" class="bx--file__state-container">
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        style="will-change: transform;"
                                                        xmlns="http://www.w3.org/2000/svg" class="bx--file-complete"
                                                        width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                                                        <path
                                                            d="M8,1C4.1,1,1,4.1,1,8c0,3.9,3.1,7,7,7s7-3.1,7-7C15,4.1,11.9,1,8,1z M7,11L4.3,8.3l0.9-0.8L7,9.3l4-3.9l0.9,0.8L7,11z">
                                                        </path>
                                                        <path d="M7,11L4.3,8.3l0.9-0.8L7,9.3l4-3.9l0.9,0.8L7,11z"
                                                            data-icon-path="inner-path" opacity="0"></path>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="uploading2">
                                            <div class="bx--file__selected-file">
                                                <p class="bx--file-filename">Processing ...</p>
                                                <span data-for="prepopulated-file-uploader" class="bx--file__state-container">
                                                    <div class="bx--inline-loading__animation">
                                                        <div data-inline-loading-spinner=""
                                                            class="bx--loading bx--loading--small">
                                                            <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
                                                                <circle class="bx--loading__background" cx="0" cy="0"
                                                                    r="26.8125">
                                                                </circle>
                                                                <circle class="bx--loading__stroke" cx="0" cy="0"
                                                                    r="26.8125">
                                                                </circle>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div id="error2">
                                        <div class="bx--file__selected-file bx--file__selected-file--invalid" data-invalid>
                                            <p class="bx--file-filename">Error processing file</p>
                                            <span data-for="prepopulated-file-uploader" class="bx--file__state-container">
                                                <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                    style="will-change: transform;" xmlns="http://www.w3.org/2000/svg"
                                                    class="bx--file--invalid" width="16" height="16" viewBox="0 0 16 16"
                                                    aria-hidden="true">
                                                    <path
                                                        d="M8,1C4.2,1,1,4.2,1,8s3.2,7,7,7s7-3.1,7-7S11.9,1,8,1z M7.5,4h1v5h-1C7.5,9,7.5,4,7.5,4z M8,12.2 c-0.4,0-0.8-0.4-0.8-0.8s0.3-0.8,0.8-0.8c0.4,0,0.8,0.4,0.8,0.8S8.4,12.2,8,12.2z">
                                                    </path>
                                                    <path
                                                        d="M7.5,4h1v5h-1C7.5,9,7.5,4,7.5,4z M8,12.2c-0.4,0-0.8-0.4-0.8-0.8s0.3-0.8,0.8-0.8 c0.4,0,0.8,0.4,0.8,0.8S8.4,12.2,8,12.2z"
                                                        data-icon-path="inner-path" opacity="0"></path>
                                                </svg>
                                            </span>
                                            <div class="bx--form-requirement">
                                                <div class="bx--form-requirement__title">Either no File is selected or File size exceeds limit.</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <div class="bx--col-md-6">
                <div class="outside">
                    <div class="inside">
                        <video id="videoHere" width="100%" controls>

                        </video>
                        <br>
                        <br>
                        <div id="progressIndicator">
                            <div class="w3-light-grey w3-round-xlarge">
                                <div id="myBar" class="w3-container w3-blue w3-round-xlarge" style="height:24px;width:0%">
                                </div>
                            </div>

                            <p id="myP">Message </p>
                        </div>
                        <br>

                        <div data-tabs class="bx--tabs" id="tabsHere">
                            <div class="bx--tabs-trigger" tabindex="0">
                                <a href="javascript:void(0)" class="bx--tabs-trigger-text" tabindex="-1"></a>
                                <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                                    <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
                                </svg>
                            </div>
                            <ul class="bx--tabs__nav bx--tabs__nav--hidden" role="tablist">
                                <li class="bx--tabs__nav-item bx--tabs__nav-item--selected " data-target=".tab-1-default" role="tab" aria-selected="true">
                                    <a tabindex="0" id="tab-link-1-default" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-1-default">Speech
                                        To Text</a>
                                </li>
                                <li class="bx--tabs__nav-item " data-target=".tab-2-default" role="tab">
                                    <a tabindex="0" id="tab-link-2-default" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-2-default">NLU
                                        Analysis</a>
                                </li>
                            </ul>
                        </div>
                        <div class="bx--tab-content">
                            <div id="tab-panel-1-default" class="tab-1-default" role="tabpanel" aria-labelledby="tab-link-1-default" aria-hidden="false">
                                <div id="scrollClass" class="scrollClass">
                                    <div class="bx--row" id="Loading1">
                                        <div class="bx--col-lg-12">
                                            <div class="outside">
                                                <div class="inside">
                                                    <div class="bx--form-item">
                                                        <label class="bx--label bx--skeleton"></label>
                                                        <div class="bx--select bx--skeleton">
                                                            <select class="bx--select-input"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="bx--col-lg-12">
                                            <div class="outside">
                                                <div class="inside">
                                                    <div class="bx--form-item">
                                                        <label class="bx--label bx--skeleton"></label>
                                                        <div class="bx--select bx--skeleton">
                                                            <select class="bx--select-input"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="tab-panel-2-default" class="tab-2-default" role="tabpanel" aria-labelledby="tab-link-2-default" aria-hidden="true" hidden>
                                <div id="scrollClass">
                                    <div class="bx--row" id="Loading2">
                                        <div class="bx--col-lg-12">
                                            <div class="outside">
                                                <div class="inside">
                                                    <div class="bx--form-item">
                                                        <label class="bx--label bx--skeleton"></label>
                                                        <div class="bx--select bx--skeleton">
                                                            <select class="bx--select-input"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="bx--col-lg-12">
                                            <div class="outside">
                                                <div class="inside">
                                                    <div class="bx--form-item">
                                                        <label class="bx--label bx--skeleton"></label>
                                                        <div class="bx--select bx--skeleton">
                                                            <select class="bx--select-input"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bx--tile" id="NLUAnalysed">
                                        <h4 align="center"><strong>NLU Analysis Report</strong>
                                            <h4 align="right">
                                                <button class="bx--btn bx--btn--tertiary bx--btn--icon-only bx--tooltip__trigger bx--tooltip--a11y bx--tooltip--bottom bx--tooltip--align-center " onclick="printDiv()">
                                                    <span class="bx--assistive-text">Print</span>
                                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                                        style="will-change: transform;"
                                                        xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon"
                                                        width="16" height="16" viewBox="0 0 32 32" aria-hidden="true">
                                                        <path
                                                            d="M28,9H25V3H7V9H4a2,2,0,0,0-2,2V21a2,2,0,0,0,2,2H7v6H25V23h3a2,2,0,0,0,2-2V11A2,2,0,0,0,28,9ZM9,5H23V9H9ZM23,27H9V17H23Zm5-6H25V15H7v6H4V11H28Z">
                                                        </path>
                                                    </svg>
                                                </button>
                                            </h4>
                                        </h4>
                                        <hr>
                                        <div class="bx--row" id="optionals">
                                            <div class="bx--col-sm-2" id="optional1">
                                                <div class="outside">
                                                    <div class="inside">
                                                        Category : <strong id="categoryHere"></strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bx--col-sm-2" id="optional2">
                                                <div class="outside">
                                                    <div class="inside">
                                                        Entity : <strong id="entityHere"></strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bx--col-sm-2" id="optional3">
                                                <div class="outside">
                                                    <div class="inside">
                                                        Concept Tags : <strong id="conceptHere"></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr id="removeThis">
                                        <div class="bx--row">
                                            <div class="bx--col-md-8">
                                                <div class="outside">
                                                    <div class="inside">
                                                        Keywords, Sentiments and Emotions : <strong id="sentimentsHere"></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="bx--row">
                                            <div class="bx--col-md-8">
                                                <div class="outside">
                                                    <div class="inside">
                                                        Top 5 Positive Sentences : <strong id="positiveSentencesHere"></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="bx--row">
                                            <div class="bx--col-md-8">
                                                <div class="outside">
                                                    <div class="inside">
                                                        Word Clouds :
                                                        <br>
                                                        <br>
                                                        <div class="bx--row" id="wordCloudHere"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="static/carbon-components/scripts/carbon-components.min.js"></script>
<script src="static/javascript/script.js"></script>

</html>