<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="IBM Developer | Code Pattern">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Video to Textual Insights</title>

</head>

<body>
    <header class="bx--header" role="banner" aria-label="IBM" data-header>
        <a class="bx--header__name" href="javascript:void(0)" title="">
            <span class="bx--header__name--prefix">
                IBM
                &nbsp;
            </span>
            Developer
        </a>
    </header>

    <br><br>
    <br><br>
    <br><br>


    <div class="bx--grid">
        <div class="bx--row">
            <div class="bx--col-md-2">
                <div class="outside">
                    {% include 'form.html' %}
                </div>
            </div>
            <div class="bx--col-md-6">
                <div class="outside">
                    {% include 'insights.html' %}
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://unpkg.com/carbon-components/scripts/carbon-components.min.js"></script>
<script src="../static/javascript/elements/extractor.js"></script>
<script src="../static/javascript/natural-language-understanding.js"></script>
<script src="../static/javascript/speech-to-text.js"></script>
<script src="../static/javascript/script.js"></script>

</html>