<div class="inside">
    <div id="addProgressBar">

    </div>
    <br>
    <br>
    <br>
    <div data-tabs class="bx--tabs" id="tabsHere">
        <div class="bx--tabs-trigger" tabindex="0">
            <a href="javascript:void(0)" class="bx--tabs-trigger-text" tabindex="-1"></a>
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                <path d="M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z"></path>
            </svg>
        </div>
        <ul class="bx--tabs__nav bx--tabs__nav--hidden" role="tablist" id="tabs">
            <li class="bx--tabs__nav-item bx--tabs__nav-item--selected" data-target=".tab-1-default" role="tab" aria-selected="true">
                <a tabindex="0" id="tab-link-1-default" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-1-default">Speaker Diarization</a>
            </li>
            <li class="bx--tabs__nav-item " data-target=".tab-2-default" role="tab">
                <a tabindex="0" id="tab-link-2-default" class="bx--tabs__nav-link" href="javascript:void(0)" role="tab" aria-controls="tab-panel-2-default">NLU Analysis</a>
            </li>
        </ul>
    </div>
    <div class="bx--tab-content">
        <div id="tab-panel-1-default" class="tab-1-default" role="tabpanel" aria-labelledby="tab-link-1-default" aria-hidden="false">
            <div id="scrollClass">
                <p id="speakerHere"></p>
                <div class="bx--row" id="LoadingStt" style="display: none">
                    <div class="bx--col-lg-12">
                        <div class="outside">
                            <div class="inside">
                                <div class="bx--form-item">
                                    <label class="bx--label bx--skeleton"></label>
                                    <div class="bx--select bx--skeleton">
                                        <select class="bx--select-input"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="bx--col-lg-12">
                        <div class="outside">
                            <div class="inside">
                                <div class="bx--form-item">
                                    <label class="bx--label bx--skeleton"></label>
                                    <div class="bx--select bx--skeleton">
                                        <select class="bx--select-input"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        
        <div id="tab-panel-2-default" class="tab-2-default" role="tabpanel" aria-labelledby="tab-link-2-default" aria-hidden="true" hidden>
            <div id="scrollClass">
                <div id="LoadedNlu" style="display: none">
                    <div class="bx--tile" id="NLUAnalysed">
                        <h4 align="center"><strong>NLU Analysis Report</strong>
                            
                            <h4 align="right" id="editor2">
                                <button class="bx--btn bx--btn--tertiary bx--btn--icon-only bx--tooltip__trigger bx--tooltip--a11y bx--tooltip--bottom bx--tooltip--align-center " onclick="downloadNLU()">
                                    <span class="bx--assistive-text">Download</span>
                                    <svg focusable="false" preserveAspectRatio="xMidYMid meet"
                                        style="will-change: transform;"
                                        xmlns="http://www.w3.org/2000/svg" class="bx--btn__icon"
                                        width="16" height="16" viewBox="0 0 32 32" aria-hidden="true">
                                        <path
                                            d="M28,9H25V3H7V9H4a2,2,0,0,0-2,2V21a2,2,0,0,0,2,2H7v6H25V23h3a2,2,0,0,0,2-2V11A2,2,0,0,0,28,9ZM9,5H23V9H9ZM23,27H9V17H23Zm5-6H25V15H7v6H4V11H28Z">
                                        </path>
                                    </svg>
                                </button>
                            </h4>
                        </h4>
                        <hr>
                        <div class="bx--row" id="optionals">
                            <div class="bx--col-sm-2" id="optional1">
                                <div class="outside">
                                    <div class="inside">
                                        <strong>Category :</strong> <p id="categoryHere"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="bx--col-sm-2" id="optional2">
                                <div class="outside">
                                    <div class="inside">
                                        <strong>Entity :</strong> <p id="entityHere"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="bx--col-sm-2" id="optional3">
                                <div class="outside">
                                    <div class="inside">
                                        <strong>Concept Tags :</strong> <p id="conceptHere"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr id="removeThis">
                        <div class="bx--row">
                            <div class="bx--col-md-8">
                                <div class="outside">
                                    <div class="inside">
                                        <strong>Keywords, Sentiments and Emotions :</strong> <p id="sentimentsHere"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="bx--row">
                            <div class="bx--col-md-8">
                                <div class="outside">
                                    <div class="inside">
                                        <strong>Top 5 Positive Sentences :</strong> <p id="positiveSentencesHere"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="bx--row">
                            <div class="bx--col-md-8">
                                <div class="outside">
                                    <div class="inside">
                                        <strong>Word Clouds :</strong>
                                        <br>
                                        <br>
                                        <div class="bx--row" id="wordCloudHere"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="bx--row" id="LoadingNlu" style="display: none">
                    <div class="bx--col-lg-12">
                        <div class="outside">
                            <div class="inside">
                                <div class="bx--form-item">
                                    <label class="bx--label bx--skeleton"></label>
                                    <div class="bx--select bx--skeleton">
                                        <select class="bx--select-input"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="bx--col-lg-12">
                        <div class="outside">
                            <div class="inside">
                                <div class="bx--form-item">
                                    <label class="bx--label bx--skeleton"></label>
                                    <div class="bx--select bx--skeleton">
                                        <select class="bx--select-input"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="../static/javascript/elements/progressbar.js"></script>